.column {
  float: left;
  width: 50%;
  padding-bottom: 40px;
  
}
.column1 {
  float: left;
  width: 50%;
  padding-bottom: 40px;
}

.column2 {
  float: left;
  width: 300px;
  padding-right: 20px;
}

.c2 {
  background-color: #b1b1bd;
  border-color: black;
  border: groove;
  padding-left: 20px;
  margin-bottom: 19px;
}

.c2 h2 {
  padding-top: 10px;
  margin-bottom: 5px;
}

.c2 ul {
  padding-bottom: 10px;
}

.c2 ul li {
  padding-bottom: 5px;
}

.homecolumns {
  padding: 20px;
}

.homedescription {
  padding-left: 20px;
  border-left: #C0C0C0 groove;
}

.homedescription h3 {
  margin-bottom: 0px;
}

#userinput {
  height: 400px;
  min-height: 100px;
  width: 95%;
  resize: none;
  border-width: thick;
}

#submitbutton {
  background-color: lightskyblue;
  width: 100px;
  height: 50px;
  padding: 20px;
  border-radius: 14px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 310px;
  font-style: oblique;
}

#submitbutton:hover {
  background-color: cyan;
  border-color: gray;
  color: lightpink;
}

ul {
  padding-left: 20px;
  font-size: 20px;
}

.selfimage {
  padding-top: 15px;
  padding-bottom: 15px;
}
