.linkedpages {
  text-decoration: none;
  display: inline-block;
  border-left: black groove;
  border-right: black groove;
  width: 10%;
  text-align: center;
  color: black;
  font-size: 16px;
}

.navbar {
  margin: 0px;
  padding: 0px;
}
