<mat-toolbar color="white" class="navbar">
  <a class="linkedpages" routerLink="../../overview">Overview</a>
  <a class="linkedpages" routerLink="../passive-voice-fix">Passive Voice</a>
  <a class="linkedpages" routerLink="../wordiness-fix">Wordiness</a>
  <a class="linkedpages" routerLink="../academic-style-fix">Academic Style</a>
  <a class="linkedpages" routerLink="../grammar-fix">Grammar</a>
  <a class="linkedpages" routerLink="../nominalizations-fix">Nominalizations</a>
  <a class="linkedpages" routerLink="../sentences-fix">Sentences</a>
  <a class="linkedpages" routerLink="../eggcorns-fix">Eggcorns</a>
  <a class="linkedpages" routerLink="../transitions-fix">Transitions</a>
  <a class="linkedpages" (click)="startOverClick()" routerLink="">Start Over</a>
</mat-toolbar>

<div class="alert-box" [style.background-color]="transitionsAlertColor">
  <h5 class="box">{{ totalTransitions }} instances ({{ transitionsScore }}% of sentences)</h5>
  <b class="box">Goal: 10% or more </b>
</div>

<mat-toolbar color="white" class="category">
  <mat-toolbar-row class="title"><b>Transitions</b></mat-toolbar-row>
  <mat-toolbar-row class="description">{{transitionsFeedback}}</mat-toolbar-row>
</mat-toolbar>

<div>
  <div class="column1">
    <textarea id="userinput" name="userinput">{{ message }}</textarea>
    <button (click)="reHighlight()" class="rehighlight">Re-highlight</button>
  </div>

  <div class="column2">
    <h1 class="feedback"><b>Transitions Found - {{totalTransitions}} instance(s)</b></h1>
    <table>
			<td>
				<tr *ngFor="let tableData of transitionsUserTable.find ">{{tableData}}</tr>
      </td>
      <td>
        <tr *ngFor="let tableData of transitionsUserTable.suggestion">{{tableData}}</tr>
      </td>
		</table>
  </div>
</div>
