<mat-toolbar color="white" class="navbar">
  <a class="linkedpages" routerLink="../../overview">Overview</a>
  <a class="linkedpages" routerLink="../passive-voice-fix">Passive Voice</a>
  <a class="linkedpages" routerLink="../wordiness-fix">Wordiness</a>
  <a class="linkedpages" routerLink="../academic-style-fix">Academic Style</a>
  <a class="linkedpages" routerLink="../grammar-fix">Grammar</a>
  <a class="linkedpages" routerLink="../nominalizations-fix">Nominalizations</a>
  <a class="linkedpages" routerLink="../sentences-fix">Sentences</a>
  <a class="linkedpages" routerLink="../eggcorns-fix">Eggcorns</a>
  <a class="linkedpages" routerLink="../transitions-fix">Transitions</a>
  <a class="linkedpages" routerLink="">Start Over</a>
</mat-toolbar>
Academic Style works!
