<mat-toolbar color="white" class="navbar">
  <a class="linkedpages" routerLink="../overview">Overview</a>
  <a class="linkedpages" routerLink="../fixes/passive-voice-fix">Passive Voice</a>
  <a class="linkedpages" routerLink="../fixes/wordiness-fix">Wordiness</a>
  <a class="linkedpages" routerLink="../fixes/academic-style-fix">Academic Style</a>
  <a class="linkedpages" routerLink="../fixes/grammar-fix">Grammar</a>
  <a class="linkedpages" routerLink="../fixes/nominalizations-fix">Nominalizations</a>
  <a class="linkedpages" routerLink="../fixes/sentences-fix">Sentences</a>
  <a class="linkedpages" routerLink="../fixes/eggcorns-fix">Eggcorns</a>
  <a class="linkedpages" routerLink="../fixes/transitions-fix">Transitions</a>
  <a class="linkedpages" (click)="startOverClick()" routerLink="../../">Start Over</a>
</mat-toolbar>

<div class="columns">
  <div class="column1">
    <h1 class="resultdescription"><b>Nice! This Writing Looks Pretty Snazzy.</b></h1>

    <table>
      <thead>
        <tr>
          <th class="tablehead">Category</th>
          <th class="tablehead">Results</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td><a class="tablerow" routerLink="../fixes/passive-voice-fix">Passive Voice</a></td>
          <td>{{ passiveVoiceNumber }}({{passiveVoiceNumber}}%)</td>

        </tr>
        <tr class="even">
          <td><a class="tablerow" routerLink="../fixes/wordiness-fix">Wordiness</a></td>
          <td>{{ wordinessNumber }}({{wordinessScore}}%)</td>

        </tr>
        <tr class="odd">
          <td><a class="tablerow" routerLink="../fixes/academic-style-fix">Academic Style</a></td>
          <td>{{ totalNonAcademic }}({{ nonAcademicStyleScore }}%)</td>

        </tr>
        <tr class="even">
          <td><a class="tablerow" routerLink="../fixes/grammar-fix">Grammar</a></td>
          <td>{{ totalGrammar }}</td>

        </tr>
        <tr class="odd">
          <td><a class="tablerow" routerLink="../fixes/nominalizations-fix">Nominalizations</a></td>
          <td>0(0%)</td>

        </tr>
        <tr class="even">
          <td><a class="tablerow" routerLink="../fixes/sentences-fix">Sentences</a></td>
          <td>0(0%)</td>

        </tr>
        <tr class="odd">
          <td><a class="tablerow" routerLink="../fixes/eggcorns-fix">Eggcorns</a></td>
          <td>0(0%)</td>

        </tr>
        <tr class="even">
          <td><a class="tablerow" routerLink="../fixes/transitions-fix">Transitions</a></td>
          <td>{{ totalTransitions }}({{ transitionsScore }}%)</td>

        </tr>
      </tbody>
    </table>

    <button class="startoverbutton" (click)="startOverClickButton()">Clear & Start Over</button>
  </div>

  <div class="fixCircle"><p class="label">Wordiness</p>
    <div class="circular">
      <div class="inner"></div>
      <div class="outer"></div>
      <div class="numb">{{wordinessScore}}%</div>
      <div class="circle">
        <div class="dot">
          <span></span>
        </div>
        <div class="bar left">
          <div class="progress"></div>
        </div>
        <div class="bar right">
          <div class="progress"></div>
        </div>
      </div>
    </div>
  </div>
