<mat-toolbar color="white" class="navbar">
    <a class="linkedpages" routerLink="../overview">Overview</a>
    <a class="linkedpages" routerLink="../fixes/passive-voice-fix">Passive Voice</a>
    <a class="linkedpages" routerLink="../fixes/wordiness-fix">Wordiness</a>
    <a class="linkedpages" routerLink="../fixes/academic-style-fix">Academic Style</a>
    <a class="linkedpages" routerLink="../fixes/grammar-fix">Grammar</a>
    <a class="linkedpages" routerLink="../fixes/nominalizations-fix">Nominalizations</a>
    <a class="linkedpages" routerLink="../fixes/sentences-fix">Sentences</a>
    <a class="linkedpages" routerLink="../fixes/eggcorns-fix">Eggcorns</a>
    <a class="linkedpages" routerLink="../fixes/transitions-fix">Transitions</a>
    <a class="linkedpages" routerLink="../../">Start Over</a>
</mat-toolbar>
Results here!
