<body>
    <h1>Contact Form</h1>
    <div class="form">
        <form class="form">
            <p class="name">
                <input type="text" name="name" id="name" placeholder="Grizzly"/>
                <label for="name">Name</label>
            </p>
            <p class="email">
                <input type="text" name="email" id="email" placeholder="grizzly@ggc.edu"/>
                <label for="email">Email</label>
            </p>
            <p class="text">
                <textarea name="message" placeholder="Send Us a Message!"></textarea>
            </p>
            <p class="submit">
                <input type="submit" value="Send"/>
            </p>
        </form>
    </div>
</body>