<div>
	<h1>{{title}}</h1>
	<div class="wordinessTable">
		<!-- Don't know how to impliment this feature yet -->
		<!-- <input type="text" ng-model="search" placeholder="Search word or phrase"> -->    
		<table>
			<thead>
			<tr><td><b>Flag</b></td><td><b>Suggestion</b></td></tr>
			</thead>
			<td>
				<tr *ngFor="let tableData of table.find">{{tableData}}</tr>
			  </td>
			  <td>
				<tr *ngFor="let tableData of table.suggestion">{{tableData}}</tr>
			</td>
		</table>
	</div>

	<div class="databaseListings">
		<div class="r">
			<h2>Database Listings</h2>
			<p><a class="linkedpages" routerLink="../wordiness">Wordiness</a> (987 records)</p>
  			<p><a class="linkedpages" routerLink="../transitions">Transitions</a> (134 records)</p>
  			<p><a class="linkedpages" routerLink="../grammar">Grammar</a> (1,323 records)</p>
  			<p><a class="linkedpages" routerLink="../eggcorns">Eggcorns</a> (100 records)</p>
		</div>
	</div>
</div>
