<mat-toolbar color="primary" class="navbar">
    <div> <a class="grammark" routerLink="">Grammark 2.0</a> </div>
    <div>
        <a class="linkedpages" routerLink="">Home</a>
        <a class="linkedpages" routerLink="about">About</a>
        <a class ="linkedpages" href="https://github.com/markfullmer/grammark">Source Code</a>
        <a class="linkedpages" routerLink="download">Download</a>
        <a class="linkedpages" routerLink="resources">Resources</a>
        <a class="linkedpages" routerLink="contact">Contact</a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
