.mat-toolbar.mat-primary {
    background: lightskyblue;
    color: #fff;
    border-left: black groove;
    border-right: black groove;
  }

  /*.mat-toolbar.mat-primary:hover {
    background-color: lightblue;
  
    color: rgb(255, 255, 255);
  }
*/
.navbar {
    justify-content: space-between;
}

.grammark{
    color: black;
    text-decoration: none;
}
.grammark:hover{
  color: lightpink;
  
  }

.linkedpages {
  color: black;
  text-decoration: none;
  border-left: black groove;
  display: inline-block;
  width: 135px;
  text-align: center;
}
.linkedpages:hover{
  background-color: cyan;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
a:active {
  color: blue;
}
