@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  background-color: #00704A;
  font-family: 'Work Sans', sans-serif;
}

.column {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#textboxBackground {
  width: 100%;
  background: url("bookpageBackground.jpg");
  margin-top: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 50px;
}

#attentionGrabber {
  font-size: 90px;
  font-weight: 900;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #ffffff;
  text-align: center;
  margin-bottom: 100px;
}

.column2 {
  float: left;
  width: 300px;
  padding-right: 20px;
}

.c2 {
  background-color: #b1b1bd;
  border-color: black;
  border: groove;
  padding-left: 20px;
  margin-bottom: 19px;
}

.c2 h2 {
  padding-top: 10px;
  margin-bottom: 5px;
}

.c2 ul {
  padding-bottom: 10px;
}

.c2 ul li {
  padding-bottom: 5px;
}

.homecolumns {
  padding: 20px;
}

.homedescription {
  color: white;
  text-align: center;
}

.homedescription h3 {
  font-size: 50px;
  line-height: 1;
}

#userinput {
  height: 400px;
  min-height: 100px;
  width: 95%;
  resize: none;
  border-width: thick;
  padding: 5px;
  font-size: 14px;
  border-color: black;
}

#submitbutton {
  background-color: #A5ACB0;
  color: #00704A;
  width: 250px;
  height: 75px;
  font-size: 35px;
  font-weight: bold;
  margin-left: 35%;
  display: table-cell;
  vertical-align: middle;
  border: 5px solid black;
}

#submitbutton:hover {
  background-color: #8f9599;
  border-color: #000000;
  color: #065339;
  cursor: pointer;
}

ul {
  padding-left: 20px;
  font-size: 20px;
}

.selfimage {
  padding-top: 15px;
  padding-bottom: 15px;
}