<div class="resources">
  <h1><b>Resources</b></h1>
  <p class="description">View existing database records for wordiness, grammar errors, and transitions.</p>

  <p><a class="linkedpages" routerLink="wordiness">Wordiness</a> (987 records)</p>
  <p><a class="linkedpages" routerLink="transitions">Transitions</a> (134 records)</p>
  <p><a class="linkedpages" routerLink="grammar">Grammar</a> (1,323 records)</p>
  <p><a class="linkedpages" routerLink="eggcorns">Eggcorns</a> (100 records)</p>

</div>